<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<!-- Place Order-->
<div class="w3-container">
 <br> <h2>Welcome to Store 1</h2>
<!-----Place Order--------------------------------------------------------------------------------------------------------------------------> 
 <br><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-white w3-hover-red">Place Order</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal"> 
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>Place Order</h2>
            </header>
<!-- Place Order Pop Up -->
        <div class="w3-container">
            <div class="container">
	           <div class="row">
                    <form class="form-horizontal">

            <!-- Name-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>  
                                <div class="col-sm-3">
                                        <input type="text" placeholder="Name" class="form-control" required="" ng-model="name">
                                </div>
                        </div>



            <!-- Milk--> 
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="company">Milk</label>  
                                <div class="col-sm-3">
                                    <input id="company" name="company" type="text" placeholder="Milk" ng-model="milk" class="form-control input-md" required="">
                                </div>
                        </div>
            <!-- Size-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Size</label>  
                                <div class="col-sm-3">
  		                            <select class="form-control input-md" ng-model="size">
                                    <option value="0">-Select-</option>
                                    <option value="large">Large</option>
                                    <option value="medium">Medium</option>
                                    <option value="small">Small</option>
                                    </select> 
                                </div>
                        </div>

            <!-- Quantity-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Quantity</label>  
                                <div class="col-sm-3">
                                    <input id="company" type="number" placeholder="#" class="form-control input-md" required="" ng-model="quantity">
                                </div>
                        </div>
            <!--Button place order-->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                                <div class="col-sm-3">
                                    <button id="submit"  ng-click="placeOrder()">Place Order</button>
                                </div>
                        </div>
                    </form>
                   <div class="col-md-6" >
						<div class="alert alert-success" ng-hide="success">
						<strong>Order Placed successfully</strong>
						</div>
			       </div>
                </div>
                
            </div>
        </div>    
      </div>
    </div>
<!-----Place Order-------------------------------------------------------------------------------------------------------------------------->
    
<!-- Get Order ------------------------------------------------------------------------------------------------------------------------------->
 <br><br><button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-white w3-hover-red">Get Order</button>
    <div id="id02" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal"> 
                <span onclick="document.getElementById('id02').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
                <h2>Get Order</h2>
            </header>
<!-- Get Order Pop Up -->
      <div class="w3-container">
        <div class="container">
	       <div class="row">
                <form class="form-horizontal">

<!-- Name-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Order Id</label>  
                            <div class="col-sm-3">
                                <input type="text" placeholder="Order ID" class="form-control" required="" ng-model="order_id">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                            <div class="col-sm-3">
                                <button id="submit"  ng-click="getOrder()">Get Order</button>
                            </div>
                    </div>


               </form>
		
            </div>
          </div>
        </div> 
    </div>
 </div>
<!-- Get Order ------------------------------------------------------------------------------------------------------------------------------>
    <!-- Update Order --------------------------------------------------------------------------------------------------------------->
 <br><br><button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-white w3-hover-red">Update Order</button>

  <div id="id03" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal"> 
                    <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>Update Order</h2>
            </header>
<!-- Place Order Pop Up -->
        <div class="w3-container">
            <div class="container">
	           <div class="row">
                    <form class="form-horizontal">
            <!--Order ID-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Order ID</label>  
                                <div class="col-sm-3">
                                        <input type="text" placeholder="Order ID" class="form-control" required="" ng-model="order_id">
                                </div>
                        </div>

            <!-- Name-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>  
                                <div class="col-sm-3">
                                        <input type="text" placeholder="Name" class="form-control" required="" ng-model="name">
                                </div>
                        </div>



            <!-- Milk--> 
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="company">Milk</label>  
                                <div class="col-sm-3">
                                    <input id="company" name="company" type="text" placeholder="Milk" ng-model="milk" class="form-control input-md" required="">
                                </div>
                        </div>
            <!-- Size-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Size</label>  
                                <div class="col-sm-3">
  		                            <select class="form-control input-md" ng-model="size">
                                    <option value="0">-Select-</option>
                                    <option value="large">Large</option>
                                    <option value="medium">Medium</option>
                                    <option value="small">Small</option>
                                    </select> 
                                </div>
                        </div>

            <!-- Quantity-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Quantity</label>  
                                <div class="col-sm-3">
                                    <input id="company" type="number" placeholder="#" class="form-control input-md" required="" ng-model="quantity">
                                </div>
                        </div>
            <!--Button place order-->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                                <div class="col-sm-3">
                                    <button id="submit"  ng-click="updateOrder()">Update Order</button>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
      </div>
    </div>

    
    <!--Update Order----------------------------------------------------------------------------------------------------------------------->
<!-- Delete Order-------------------------------------------------------------------------------------------------------------------------->

  <br><br><button onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-white w3-hover-red">Cancel Order</button>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal"> 
                <span onclick="document.getElementById('id04').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
                <h2>Cancel Order</h2>
            </header>
<!-- delete Order Pop Up -->
      <div class="w3-container">
        <div class="container">
	       <div class="row">
                <form class="form-horizontal">

<!-- Name-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Order ID</label>  
                            <div class="col-sm-3">
                                <input type="text" placeholder="Order ID" class="form-control" required="" ng-model="order_id">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                            <div class="col-sm-3">
                                <button id="submit"  ng-click="deleteOrder()">Cancel Order Order</button>
                            </div>
                    </div>


               </form>
		
            </div>
          </div>
        </div> 
    </div>
 </div>
    
<!-- Delete Order-------------------------------------------------------------------------------------------------------------------------->
<!--Pay Order------------------------------------------------------------------------------------------------------------------------------>
  <br><br><button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-white w3-hover-red">Pay for your Order</button>
    <div id="id05" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal"> 
                <span onclick="document.getElementById('id05').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
                <h2>Pay for your Order</h2>
            </header>
<!-- pay Order Pop Up -->
      <div class="w3-container">
        <div class="container">
	       <div class="row">
                <form class="form-horizontal">

<!-- Name-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Order ID</label>  
                            <div class="col-sm-3">
                                <input type="text" placeholder="Order ID" class="form-control" required="" ng-model="order_id">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                            <div class="col-sm-3">
                                <button id="submit"  ng-click="payOrder()">Pay</button>
                            </div>
                    </div>


               </form>
		
            </div>
          </div>
        </div> 
    </div>
 </div>
    
<!--Pay Order------------------------------------------------------------------------------------------------------------------------------>
    
    </div>

    
</body>
</html>
